<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Add A Task</h3>
<form action="/users/add" method="post">

  <div class="mb-3">
    <label for="first_name">Type your name:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="first_name" placeholder="First Name" id="first_name">
  </div>

  <div class="mb-3">
    <label for="last_name">Type your Last Name:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="last_name" placeholder="Last Names" id="last_name">
  </div>
  
  <div class="mb-3">
    <label for="email">Type your Email:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="email" placeholder="Email" id="email">
  </div>

  <div class="mb-3">
    <label for="empresa">Type your Company:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="empresa" placeholder="Company" id="empresa">
  </div>

  <div class="mb-3">
    <label for="edad">Type how old are you:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="edad" placeholder="How old are you" id="edad">
  </div>

  <button class="btn btn-primary" type="submit">Add</button>
</form>
<form action="/">
  <button class="btn btn-warning" type="submit">Show</button>
</form>
</div>