<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Binary Tree</h3>
<form action="/binary/add" method="post">

  <div class="mb-3">
    <label for="number">Type your number:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="number" placeholder="Add Number" id="number">
  </div>

  <button class="btn btn-primary" type="submit">Add</button>
</form>
<form action="/binary/delete" method="post">

  <div class="mb-3">
    <label for="number">Type your number:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="number" placeholder="Delete Number" id="number">
  </div>

  <button class="btn btn-danger" type="submit">Remove</button>
</form>
<form action="/binary/show">
  <button class="btn btn-warning" type="submit">Show</button>
</form>
</div>

<div>
  <ul>
  {{#each treeData}}
    <li>{{this.value}}</li>
  {{/each}}
</ul>
<p>Tiempo de ejecución: {{ elapsedTime }} milisegundos</p>
<p>Tiempo de ejecución: {{ sec }} segundos</p>
</div>
