<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Binary Tree</h3>
<form action="/binary/add" method="post">

  <div class="mb-3">
    <label for="number">Type your number:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="number" placeholder="Add Number" id="number">
  </div>

  <button class="btn btn-primary" type="submit">Add</button>
</form>
<form action="/binary/delete" method="post">

  <div class="mb-3">
    <label for="number">Type your number:</label>
    <input class="form-control rounded-0 bg-dark text-white" type="text" name="number" placeholder="Delete Number" id="number">
  </div>

  <button class="btn btn-danger" type="submit">Remove</button>
</form>
</div>
